# Dossiers à ignorer
node_modules/
dist/
out/

# Fichiers de configuration
*.env
*.log

# Fichiers générés automatiquement
.vscode/
.idea/
.cache/

# Fichiers de sauvegarde
*.swp
*~
*.bak

# Fichiers de journalisation
*.log
npm-debug.log*

# Dossiers système Windows
Thumbs.db
Desktop.ini

# Fichiers de configuration Windows
ehthumbs.db

# Fichiers d'icônes Windows
Icon?

./assets/img
./assets/file
./PHPMailer
.htaccess